
.product-name {
    width: 55%;
    max-height: 20vh;
    overflow: hidden;
}

.product-name h5{
    font-size: 20px;
    height: 20vh;
    overflow: hidden;
}

.product-qty {
    width: 10%;
}

/* sm */
@media only screen and (max-width: 767px) {
    .product-qty {
        font-size: 20px;
    }

    .product-name h5{
        font-size: 13px;
    }
} 

/* med */
@media only screen and (max-width: 1199px) {
    .product-qty {
        width: 20%;
    }
} 