.parallax-container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.parallax-image {
    filter: brightness(30%);
}

.parallax-container h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.custom_btn {
    display: inline-block;
    position: relative;
    top: 10vh;
    color: white;
    opacity: 0;
    padding: 1em 2em;
    border: white 1px solid;
    animation-name: custom_btn;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    transition-property: all;
    transition-duration: 0.5s;
}

.custom_btn:hover {
    transform: rotateY(180deg);
}

@keyframes custom_btn {
    0% {opacity:0}
    100% {opacity:1}
}

.banner {
    background-color: #e2acac;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    margin: 0 0;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: white;
    transition: 300ms;
    transition-timing-function: ease-in;
}

.banner h1:hover {
    letter-spacing: 20px;
}

