.parallax-container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-image {
    filter: brightness(30%);
}

.parallax-container h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-bottom: 30vh;
}

.banner {
    background-color: #e2acac;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    margin: 0 0;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: white;
    transition: 300ms;
    transition-timing-function: ease-in;
}

.banner h1:hover {
    letter-spacing: 20px;
}

.btn{
    display: inline-block;

}