.nav-container {
    max-width: 90vw;
    margin: 0 auto;
    box-sizing: border-box;
}
  
nav {
    background: white;
    /* z-index: 10; */
}

nav h1 {
    margin: 0.5em 1.5em;
}
  
#searchBar {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    text-align: left;
}
  
nav li {
    display: inline-block;
}

nav a {
    color: #444;
    text-decoration: none;
    display: block;
    padding: .75em 1.75em;
}

nav li:hover {
    background: #444;
}
  
nav li:hover a {
    color: white;
}
  
  
.menu-sub {
    position: absolute;
    left: 0;
    background: #444;
    width: 100%;
    display: none;
    color: white;
    padding: 2em;
}
  
nav li:hover .menu-sub {
    display: block;
}

.menu-sub li {
    display: block;
}
  
.menu-sub a {
    padding: 0;
    margin-bottom: .35em;
}
  
.menu-sub a:hover {
    text-decoration: underline;
}
  
.menu-category {
    margin: 2.0em 0 .5em;
}
  
.menu-category:first-of-type {
    margin-top: 0;
}
  
.menu-col-1,
.menu-col-2 {
    float: left;
}
  
.menu-col-1 {
    width: 25%;
}
  
.menu-col-2 {
    width: 50%;
}
  