{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="container" style="padding-top: 5vh; padding-bottom: 60vh">
    <div class="alert alert-success" role="alert">
        <h5>Your password has been set.</h5>
    </div>
    <div class="text-center">
        <a href="" data-toggle="modal" data-target="#modalLRForm">
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0">
                <h5>Login Here</h5>
            </button>
        </a>
    </div>
</div>
{% endblock content %}