{% extends 'store/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<div class="container">
    <div>

        <p>&nbsp;<img class="__mce_add_custom__" title="399d26da-0457-4388-aa32-29d86c59211e.jpg"
                      src="https://cdn10.bigcommerce.com/s-xy6yq7/product_images/uploaded_images/399d26da-0457-4388-aa32-29d86c59211e.jpg?t=1480058511"
                      alt="399d26da-0457-4388-aa32-29d86c59211e.jpg" width="359" height="224"></p>
        <p><strong>About Us</strong><br><br>Based out of Toronto, Canada, Deluxe Consignment is an online consignment
            shop consisting of a&nbsp;team of highly dedicated and passionate individuals that are seeking to connect
            you with the best deals on new and pre-loved merchandise. At DC, we strive to continuously improve our
            business and services to meet our growing demands. We pride ourselves in offering authentic, affordable, and
            competitively priced items that meets the expectation of both buyers and consignors. Maintaining an online
            presence, and establishing ourselves as an online retailer enables us to lower our overhead fees, and offer
            low consignment fees to our consignors, while at the same time pricing each item at very affordable rates
            for buyers.&nbsp;&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><strong><img class="__mce_add_custom__" title="sdfgsdfgdsg.jpg"
                        src="https://cdn10.bigcommerce.com/s-xy6yq7/product_images/uploaded_images/sdfgsdfgdsg.jpg?t=1480058342"
                        alt="sdfgsdfgdsg.jpg" width="356" height="260"></strong></p>
        <p><strong>Out Authenticity Guarantee</strong></p>
        <p>Each item we receive is individually authenticated in house or through external authenticators. We use three
            authenticators interchangeably depending on the brands we receive in. As of recent, we've also become one of
            the first Canadian consignment shops to use Entrupy, a devise that authenticates on a microscopic level
            through ultrasound scanning of each item. It's safe to say that we take authentication very,&nbsp;<em>very&nbsp;</em>seriously!&nbsp;
        </p>
        <p>&nbsp;</p>
        <p><img class="__mce_add_custom__" title="screen-shot-2017-05-02-at-5.39.29-pm.png"
                src="https://cdn10.bigcommerce.com/s-xy6yq7/product_images/uploaded_images/screen-shot-2017-05-02-at-5.39.29-pm.png?t=1493761362"
                alt="screen-shot-2017-05-02-at-5.39.29-pm.png" width="482" height="367"></p>
        <p>&nbsp;</p>
        <p>All of our items are carefully processed, authenticated, and then photographed prior to being listed for
            sale. We are confident in our authenticity process and offer a 100% authentic or money back guarantee on all
            purchases. We also welcome you to consult external authenticators, and are always happen to send you
            additional photos if necessary. For more information on how we authenticate, or the authenticators we use,
            please email us at support@deluxeconsignmentshop.com.&nbsp;<em>Happy Shopping!</em></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><em>*DISCLAIMER: DeLuxe Consignment Shop is&nbsp;<span style="text-decoration: underline;">not</span>
            associated or affiliated with any of the designer brands we sell. All copyrights are reserved to the
            original brand owner.&nbsp;</em></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

    </div>
</div>

{% endblock content %}
