{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<!-- Main Container -->
<link rel="stylesheet" type="text/css" href="{% static 'css/store.css' %}">
<div class="container mt-5 pt-3">
    <!-- Navbar -->
    <div class="row pt-4">
        <!-- Sidebar -->
        <div class="col-lg-3">
            <!-- Side navigation links -->
            <ul style="list-style-type: none;">
                <li style="list-style-type: none;"><h4><strong>Manage Your Account</strong></h4></li>
                <div>
                    <ul class="tabs" style="list-style-type: none;" id="myClassicTab" role="tablist">
                        <li><a class="nav-link waves-light" id="edit-account-tab-classic" data-toggle="tab"
                               href="#edit-account-classic" role="tab"
                               aria-controls="edit-account-classic" aria-selected="false">Edit Account Details</a>
                        </li>
                        <li><a class="nav-link waves-light" id="view-order-tab-classic" data-toggle="tab"
                               href="#view-order-classic" role="tab"
                               aria-controls="view-order-classic" aria-selected="false">View Orders</a>
                        </li>
                        <li><a class="nav-link waves-light" id="recently-viewed-tab-classic" data-toggle="tab"
                               href="#recently-viewed-classic" role="tab"
                               aria-controls="recently-viewed-classic" aria-selected="false">Recently Viewed</a>
                        </li>
                        <li><a class="nav-link waves-light" id="messages-tab-classic" data-toggle="tab"
                               href="#messages-classic" role="tab"
                               aria-controls="messages-classic" aria-selected="false">Messages</a>
                        </li>
                        <li><a class="nav-link waves-light" id="address-book-tab-classic" data-toggle="tab"
                               href="#address-book-classic" role="tab"
                               aria-controls="address-book-classic" aria-selected="false">Address book</a>
                        </li>
                        <li><a class="nav-link waves-light" id="payment-tab-classic" data-toggle="tab"
                               href="#payment-classic" role="tab"
                               aria-controls="payment-classic" aria-selected="false">Payment Information</a>
                        </li>
                        <li><a class="nav-link waves-light" id="track-order-tab-classic" data-toggle="tab"
                               href="#track-order-classic" role="tab"
                               aria-controls="track-order-classic" aria-selected="false">Track Order Status</a>
                        </li>
                    </ul>
                </div>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->

        <!-- Content -->
        <div class="col-lg-9">
            <!-- Products Grid -->
            <div class="tab-content section pt-4" id="myClassicTabContent">
                <div class="tab-pane fade" id="edit-account-classic" role="tabpanel"
                     aria-labelledby="edit-account-tab-classic">
                    <form method="POST" action="{% url 'user:edit-user' %}">
                        {% csrf_token %}
                        <div class="md-form">
                            <i class="fas fa-user prefix"></i>
                            <input type="text" id="inputFirstName" class="form-control" value="{{user.first_name}}"
                                   name="first_name">
                            <label for="inputFirstName">First Name</label>
                        </div>
                        <div class="md-form">
                            <i class="fas fa-user prefix"></i>
                            <input type="text" id="inputLastName" class="form-control" value="{{user.last_name}}"
                                   name="last_name">
                            <label for="inputLastName">Last Name</label>
                        </div>
                        <div class="md-form">
                            <i class="fas fa-envelope prefix"></i>
                            <input type="email" id="inputEmail" class="form-control validate" name="email"
                                   value="{{user.email}}">
                            <label for="inputEmail" data-error="wrong" data-success="right">E-mail</label>
                        </div>
                        <div class="md-form">
                            <i class="fas fa-envelope prefix"></i>
                            <input type="email" id="inputPhone" class="form-control validate"
                                   value="{{customer.Phone}}" name="phone">
                            <label for="inputEmail" data-error="wrong" data-success="right">Phone</label>
                        </div>
                        <div class="text-center mt-2">
                            <button type="submit" class="btn btn-info">Change<i
                                    class="fas fa-sign-in ml-1"></i></button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="view-order-classic" role="tabpanel"
                     aria-labelledby="view-order-tab-classic">
                    <p>View Order Content</p>
                </div>
                <div class="tab-pane fade" id="recently-viewed-classic" role="tabpanel"
                     aria-labelledby="recently-viewed-tab-classic">
                    <p>Recently Viewed Content</p>
                </div>
                <div class="tab-pane fade" id="messages-classic" role="tabpanel" aria-labelledby="messages-tab-classic">
                    <p>Message Content</p>
                </div>
                <div class="tab-pane fade" id="address-book-classic" role="tabpanel"
                     aria-labelledby="address-book-tab-classic">
                    <p>Address Book Content</p>
                </div>
                <div class="tab-pane fade" id="payment-classic" role="tabpanel" aria-labelledby="payment-tab-classic">
                    <p>Payment Content</p>
                </div>
                <div class="tab-pane fade" id="track-order-classic" role="tabpanel"
                     aria-labelledby="track-order-tab-classic">
                    <p>Track Order Content</p>
                </div>
            </div>
            <!-- Products Grid -->
        </div>
        <!-- Content -->
    </div>
</div>
<!-- Main Container -->
</main>

{% endblock content %}