{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<!-- Main Container -->
<link rel="stylesheet" type="text/css" href="{% static 'css/store.css' %}">
<div class="container mt-5 pt-3">
    <!-- Navbar -->
    <div class="row pt-4">
        <!-- Sidebar -->
        <!-- Sidebar -->

        <!-- Content -->
        <h4><strong>Manage Your Account</strong></h4>
        <div class="col-lg-12">
            <ul class="nav nav-tabs" style="list-style-type: none;" id="myTab" role="tablist">
                <li><a class="nav-link active" id="edit-tab" data-toggle="tab"
                       href="#edit" role="tab"
                       aria-controls="edit" aria-selected="true">Edit Account Details</a>
                </li>
                <li><a class="nav-link" id="vieworder-tab" data-toggle="tab"
                       href="#vieworder" role="tab"
                       aria-controls="vieworder" aria-selected="false">View Past Orders</a>
                </li>
                <li><a class="nav-link" id="recentlyviewed-tab" data-toggle="tab"
                       href="#recentlyviewed" role="tab"
                       aria-controls="recentlyviewed" aria-selected="false">Recently Viewed</a>
                </li>
                <li><a class="nav-link" id="messages-tab" data-toggle="tab"
                       href="#messages" role="tab"
                       aria-controls="messages" aria-selected="false">Messages</a>
                </li>
                <li><a class="nav-link" id="addressbook-tab" data-toggle="tab"
                       href="#addressbook" role="tab"
                       aria-controls="addressbook" aria-selected="false">Address book</a>
                </li>
                <li><a class="nav-link" id="payment-tab" data-toggle="tab"
                       href="#payment" role="tab"
                       aria-controls="payment" aria-selected="false">Payment Information</a>
                </li>
                <li><a class="nav-link" id="trackorder-tab" data-toggle="tab"
                       href="#trackorder" role="tab"
                       aria-controls="trackorder" aria-selected="false">Active Orders</a>
                </li>
            </ul>
            <div class="tab-content section pt-4" id="myTabContent">
                <div class="tab-pane fade show active" id="edit" role="tabpanel"
                     aria-labelledby="edit-tab">
                    <form method="POST" action="{% url 'user:edit-user' %}">
                        {% csrf_token %}
                        <div class="md-form">
                            <i class="fas fa-user prefix"></i>
                            <input type="text" id="inputFirstName" class="form-control" value="{{user.first_name}}"
                                   name="first_name">
                            <label for="inputFirstName">First Name</label>
                        </div>
                        <div class="md-form">
                            <i class="fas fa-user prefix"></i>
                            <input type="text" id="inputLastName" class="form-control" value="{{user.last_name}}"
                                   name="last_name">
                            <label for="inputLastName">Last Name</label>
                        </div>
                        <div class="md-form">
                            <i class="fas fa-envelope prefix"></i>
                            <input type="email" id="inputEmail" class="form-control validate" name="email"
                                   value="{{user.email}}">
                            <label for="inputEmail" data-error="wrong" data-success="right">E-mail</label>
                        </div>
                        <div class="md-form">
                            <i class="fas fa-envelope prefix"></i>
                            <input type="tel" id="inputPhone" class="form-control validate"
                                   value="{{user.customer.phone}}" name="phone">
                            <label for="inputEmail" data-error="wrong" data-success="right">Phone</label>
                        </div>
                        <div class="text-center mt-2">
                            <button type="submit" class="btn btn-info">Change<i
                                    class="fas fa-sign-in ml-1"></i></button>
                        </div>
                    </form>
                    <p>hi</p>
                </div>
                <div class="tab-pane fade" id="vieworder" role="tabpanel"
                     aria-labelledby="vieworder-tab">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Transaction ID</th>
                            <th scope="col">Delivery Method</th>
                            <th scope="col">Date Ordered</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for orders in user.customer.order_set.all %}
                        {% if orders.complete == False %}
                        <tr>
                            <th scope="row">{{orders.transaction_id}}</th>
                            <td>{{orders.delivery}}</td>
                            <td>{{orders.date_created}}</td>
                            <td>{{orders.get_cart_total}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="recentlyviewed" role="tabpanel"
                     aria-labelledby="recentlyviewed-tab">
                    <p>Recently Viewed Content</p>
                </div>
                <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                    <p>Message Content</p>
                </div>
                <div class="tab-pane fade" id="addressbook" role="tabpanel"
                     aria-labelledby="addressbook-tab">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Address</th>
                            <th scope="col">2nd Address</th>
                            <th scope="col">City</th>
                            <th scope="col">Province</th>
                            <th scope="col">Country</th>
                            <th scope="col">Postal Code</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for address in user.customer.shippingaddress_set.all %}
                        <tr>
                            <th scope="row">{{address.address}}</th>
                            <td>{{address.address2}}</td>
                            <td>{{address.city}}</td>
                            <td>{{address.province}}</td>
                            <td>{{address.country}}</td>
                            <td>{{address.postal_code}}</td>
                            <td>
                                <a href="{{address.get_remove_address_url}}">
                                    <button type="button" class="btn btn-sm btn-primary">
                                        {{address.id}}
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
                    <p>Payment Content</p>
                </div>
                <div class="tab-pane fade" id="trackorder" role="tabpanel"
                     aria-labelledby="trackorder-tab">
                    <p>Track Order Content</p>
                </div>
            </div>
            <!-- Products Grid -->
        </div>

        <!-- Content -->
    </div>
</div>
<!-- Main Container -->
</main>

{% endblock content %}