{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">

<main>
    <div class="container">
        <section class="section">
            <div class="table-responsive">
                <table class="table product-table table-cart-v-1">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="font-weight-bold">
                                <strong>Product</strong>
                            </th>
                            <th class="font-weight-bold">
                                <strong>Price</strong>
                            </th>
                            <th class="font-weight-bold">
                                <strong>Quantity</strong>
                            </th>
                            <th class="font-weight-bold">
                                <strong>Total Price</strong>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <!-- Table head -->

                    <!-- Table body -->
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td scope="row" 
                                class="d-flex justify-content-center">
                                <img src="{{item.product.imageURL}}" alt="Product Image"
                                    class="img-fluid z-depth-0">
                            </td>
                            <td class="product-name">
                                <h5 class="mt-1 ">
                                    <strong>{{item.product.name}}</strong>
                                </h5>
                                <p class="text-muted">{{item.product.get_brand}}</p>
                            </td>
                            {% if item.product.discount_price != item.product.price %}
                            <td>${{item.product.discount_price}}</td>
                            {% else %}
                            <td>${{item.product.price}}</td>
                            {% endif %}
                            <td class="text-center text-md-left product-qty">
                                <span class="qty pb-5">{{item.quantity}} </span>
                                <div class="btn-group radio-group ml-2" data-toggle="buttons">
                                    <a class=" btn btn-sm btn-primary btn-rounded update-cart white-text"
                                    data-product="{{item.product.id}}" data-action="subtract"
                                    {% if request.user.is_authenticated %}
                                    href="{{item.product.get_subtract_from_cart_url}}"
                                    {% endif %} type="button"
                                    data-toggle="tooltip" data-placement="top" title="Subtract">&mdash;
                                    </a>
                                    <a class=" btn btn-sm btn-primary btn-rounded update-cart white-text"
                                    data-product="{{item.product.id}}" data-action="add"
                                    {% if request.user.is_authenticated %}
                                    href="{{item.product.get_add_to_cart_url}}"
                                    {% endif %} type="button"
                                    data-toggle="tooltip" data-placement="top" title="Add">+
                                    </a>
                                </div>
                            </td>
                            <td class="font-weight-bold">
                                <strong>${{item.get_total}}</strong>
                            </td>
                            <td class="pl-4 ">
                                <a class="btn btn-sm btn-primary update-cart" data-product="{{item.product.id}}"
                                data-action="remove" {% if request.user.is_authenticated %}
                                href="{{item.product.get_remove_from_cart_url}}" {% endif %} type="button"
                                data-toggle="tooltip" data-placement="top" title="Remove item">X
                                </a>
                            </td>
                        </tr>
                        <!-- Product row -->
                        {% endfor %}

                        <!-- Last row -->
                        <tr>
                            <td colspan="3"></td>
                            <td>
                                <div class="font-weight-bold"> Total </div>
                            </td>
                            <td class="text-left">
                                <div class="font-weight-bold"> ${{cart_total}} </div>
                            </td>
                            <td class="text-right">
                                <a href="{% url 'shop:checkout' %}" type="button"
                                   class="btn btn-sm btn-primary btn-rounded d-flex align-items-center justify-content-center">
                                    Checkout
                                    <i class="fas fa-angle-right right"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Shopping Cart table -->
        </section>
    </div>
    <div style="height: 15vh;"></div>
</main>
{% endblock content %}