{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=AarC0V2b30VX617wZMKb-qsD9hbLUQ10fIlyr-YCzmis-NjjPI1NLL_AL1U3ENRLRqXW6S3Dr4vU2bq1&currency=CAD"></script>

<!--Main layout-->
<main class="mb-5 pt-4">
    <div class="container wow fadeIn">

        <!-- Heading -->
        <h2 class="my-5 h2 text-center">Checkout form</h2>

        <ul class="nav nav-tabs nav-justified md-tabs indigo" id="myTabJust" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#home-just" role="tab"
                   aria-controls="home-just"
                   aria-selected="true">Shipping</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab-just" data-toggle="tab" href="#contact-just" role="tab"
                   aria-controls="contact-just"
                   aria-selected="false">Pick-up</a>
            </li>
        </ul>
        <div class="tab-content card pt-5" id="myTabContentJust">
            <div class="tab-pane fade show active" id="home-just" role="tabpanel" aria-labelledby="home-tab-just">
                {% include 'store/shipping.html' %}
            </div>
            <div class="tab-pane fade" id="contact-just" role="tabpanel" aria-labelledby="contact-tab-just">
                {% include 'store/pick-up.html' %}
            </div>
        </div>

        <!--Pay Pal-->
        <div id="paypal-payment" class="row pt-4 hidden">
            <div class="col-md-2 mb-4"></div>
            <div class="col-md-8 mb-4">
                <!-- Set up a container element for the button -->
                <div id="paypal-button-container"></div>
                <script type="text/javascript">
                    var total = {{cart_total}}
                </script>
            </div>
            <div class="col-md-2 mb-4"></div>
        </div>
    </div>
</main>

<script type="text/javascript" src="{% static 'js/checkout.js' %}"></script>
<!--Main layout-->
{% endblock content %}