{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<div class="container">
    <div class="col offset-l2 l4">
        <p>We at DeLuxe Consignment are always interested in helping you re-home your brand new or pre-loved designer
            items!&nbsp;At
            the moment, we are accepting items with the
            <span style="text-decoration: underline;">minimum resale value of $125 and above</span>.
            We typically accept handbags, accessories, jewelry, and brand new or lightly-worn shoes and outerwear (if
            season
            permits).&nbsp;
        </p>
        <p>&nbsp;</p>
        <p>Our
            <span style="text-decoration: underline;">fees vary based on quoted selling price of item,</span>
            and
            <strong>ranges from 15% up to a flat fee of $450 plus Paypal processing fees of 3%.</strong>
            A typical consignment period is 60-days, after which renewal is optional if storage capacity permits.&nbsp;
        </p>
        <p>&nbsp;</p>
        <address>If you are interested in consigning with us, and would like to obtain more information, please contact
            us
            at:&nbsp;<strong><em>deluxe.consignment@gmail.com, or&nbsp;</em><em>fill in our form&nbsp;<span
                    style="color: #00ccff;"><a href="https://forms.gle/aqp2MM7U7mUpJT3R9"><span>here</span></a></span><span
                    style="color: #00ccff; font-size: medium;"><span
                    style="color: #00ccff;">&nbsp;</span></span></em></strong>(Google account required).&nbsp;In your
            email,
            please include the following information:&nbsp;
        </address>
        <p>&nbsp;</p>
        <li>Name of product:&nbsp;<em>be as specific as possible.&nbsp;</em></li>
        <li>Description of item condition:&nbsp;<em>new or used, signs of wear, etc.</em>&nbsp;</li>
        <li>Photos of the actual item:&nbsp;<em>not stock photos.&nbsp;</em></li>
        <li>What the item comes with:&nbsp;<em>e.g., dustbag, authenticity card, tags, etc</em></li>
        <li>Year and location of purchase, if possible.&nbsp;</li>
        <p>&nbsp;</p>
        <p><strong>Please note we&nbsp;do not accept consignment inquiries via DM/Instagram/FB Messages. </strong>Consignment
            inquiries are processed in the order received. Please allow up to 2 business days for a response so we can
            properly assess your items for a quote.&nbsp;&nbsp;</p>
        <p>*Please note that <span style="text-decoration: underline;">we do not accept</span> Coach, Michael Kors, Kate
            Spade, Marc by Marc Jacobs, Tory Burch, Phillip Lim, Proenza Schoeler, and Alexander Wang items. Other
            mid-range
            designer brands are determined on a per-item basis. We do not accept sunglasses due to our no try-on policy,
            and
            outerwear and select footwear is subject to seasonal availability/preference. <em>We also reserve the right
                to
                decline any particular item for consignment.&nbsp;</em></p>
        <p>&nbsp;</p>
        <p>Thank you for your interest in consigning with us. We look forward to hearing from you!&nbsp;</p>
    </div>
</div>

{% endblock content %}