{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

<div id="home" class="view jarallax" data-jarallax='{"speed": 0.2}'
     style="background-image: url({% static 'images/carry-bag.jpg' %});
     background-repeat: no-repeat; background-size: cover; background-position: center center; height: 95vh;">
    <div class="mask rgba-stylish-strong">
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row pt-5 mt-3">
                <div class="col-md-12 mb-3">
                    <div class="intro-info-content text-center" style="padding-bottom: 20rem">
                        <h1 class="display-3 white-text mb-5 wow fadeInDown" data-wow-delay="0.3s">Insert Title</h1>
                        <div class="custom-btn"><a href="{% url 'store'%}">Shop Now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="banner"><h1>Featured Products</h1></div>

<!--Carousel-->
<div class="container">
    <section class="section pb-3 wow fadeIn" data-wow-delay="0.3s">
        <!--Section heading-->
        <h1 class="font-weight-bold text-center h1 my-5">Designer Brands at an Affordible Price</h1>
        <!--Section description-->
        <p class="text-center grey-text mb-5 mx-auto w-responsive">Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Fugit, error amet numquam iure provident voluptate esse
            quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--Controls-->
            <div class="controls-top">
                <a class="btn-floating pink lighten-3" href="#multi-item-example" data-slide="prev">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <a class="btn-floating pink lighten-3" href="#multi-item-example" data-slide="next">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>

            <!--Indicators-->
            <ol class="carousel-indicators">
                <li class="pink lighten-3" data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                <li class="pink lighten-3" data-target="#multi-item-example" data-slide-to="1"></li>
                <li class="pink lighten-3" data-target="#multi-item-example" data-slide-to="2"></li>
            </ol>
            <!--Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">

                <!--First slide-->
                <div class="carousel-item active">

                    <div class="col-md-4">

                        <div class="card card-cascade narrower card-ecommerce">
                            <div class="view view-cascade overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                                     class="card-img-top"
                                     alt="">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body card-body-cascade text-center no-padding">
                                <!--Category & Title-->
                                <a href="" class="text-muted"><h5>Shoes</h5></a>
                                <h4 class="card-title">
                                    <strong>
                                        <a href="">Leather boots</a>
                                    </strong>
                                </h4>

                                <!--Description-->
                                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum
                                    necessitatibus
                                    saepe eveniet ut et voluptates.
                                </p>

                                <!--Card footer-->
                                <div class="card-footer">
                                    <span class="float-left">69$</span>
                                    <span class="float-right">
                        <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                          <i class="fas fa-eye"></i>
                        </a>
                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                          <i class="fas fa-heart"></i>
                        </a>
                      </span>
                                </div>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->


                    </div>

                    <div class="col-md-4 clearfix d-none d-sm-block">

                        <!--Card-->
                        <div class="card card-cascade narrower card-ecommerce">

                            <!--Card image-->
                            <div class="view view-cascade overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(22).jpg"
                                     class="card-img-top"
                                     alt="">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body card-body-cascade text-center no-padding">
                                <!--Category & Title-->
                                <a href="" class="text-muted">
                                    <h5>Jeans</h5>
                                </a>
                                <h4 class="card-title">
                                    <strong>
                                        <a href="">Slim jeans</a>
                                    </strong>
                                </h4>

                                <!--Description-->
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam
                                    elit.
                                    Nam
                                    incidunt eius est voluptatibus.
                                </p>

                                <!--Card footer-->
                                <div class="card-footer">
                                    <span class="float-left">99$</span>
                                    <span class="float-right">
                        <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                          <i class="fas fa-eye"></i>
                        </a>
                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                          <i class="fas fa-heart"></i>
                        </a>
                      </span>
                                </div>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>

                    <div class="col-md-4 clearfix d-none d-sm-block">

                        <!--Card-->
                        <div class="card card-cascade narrower card-ecommerce">

                            <!--Card image-->
                            <div class="view view-cascade overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Others/img%20(31).jpg" class="card-img-top"
                                     alt="">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body card-body-cascade text-center no-padding">
                                <!--Category & Title-->
                                <a href="" class="text-muted">
                                    <h5>Shorts</h5>
                                </a>
                                <h4 class="card-title">
                                    <strong>
                                        <a href="">Denim shorts</a>
                                    </strong>
                                </h4>

                                <!--Description-->
                                <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                    consectetur,
                                    adipisci velit, sed quia
                                    non.
                                </p>

                                <!--Card footer-->
                                <div class="card-footer">
                                    <span class="float-left">49$</span>
                                    <span class="float-right">
                        <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                          <i class="fas fa-eye"></i>
                        </a>
                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                          <i class="fas fa-heart"></i>
                        </a>
                      </span>
                                </div>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>

                </div>
                <!--First slide-->

                <!--Second slide-->
                <div class="carousel-item">

                    <div class="col-md-4">

                        <!--Card-->
                        <div class="card card-cascade narrower card-ecommerce">

                            <!--Card image-->
                            <div class="view view-cascade overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(30).jpg"
                                     class="card-img-top"
                                     alt="">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body card-body-cascade text-center no-padding">
                                <!--Category & Title-->
                                <a href="" class="text-muted">
                                    <h5>Accessories</h5>
                                </a>
                                <h4 class="card-title">
                                    <strong>
                                        <a href="">Summer hat</a>
                                    </strong>
                                </h4>

                                <!--Description-->
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam
                                    elit.
                                    Nam
                                    incidunt eius est voluptatibus.
                                </p>

                                <!--Card footer-->
                                <div class="card-footer">
                                    <span class="float-left">39$</span>
                                    <span class="float-right">
                        <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                          <i class="fas fa-eye"></i>
                        </a>
                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                          <i class="fas fa-heart"></i>
                        </a>
                      </span>
                                </div>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>

                    <div class="col-md-4 clearfix d-none d-sm-block">

                        <!--Card-->
                        <div class="card card-cascade narrower card-ecommerce">

                            <!--Card image-->
                            <div class="view view-cascade overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(37).jpg"
                                     class="card-img-top"
                                     alt="">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body card-body-cascade text-center no-padding">
                                <!--Category & Title-->
                                <a href="" class="text-muted">
                                    <h5>Shoes</h5>
                                </a>
                                <h4 class="card-title">
                                    <strong>
                                        <a href="">Black heels</a>
                                    </strong>
                                </h4>

                                <!--Description-->
                                <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                    consectetur,
                                    adipisci velit, sed quia
                                    non.
                                </p>

                                <!--Card footer-->
                                <div class="card-footer">
                                    <span class="float-left">79$</span>
                                    <span class="float-right">
                        <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                          <i class="fas fa-eye"></i>
                        </a>
                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                          <i class="fas fa-heart"></i>
                        </a>
                      </span>
                                </div>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>

                    <div class="col-md-4 clearfix d-none d-sm-block">

                        <!--Card-->
                        <div class="card card-cascade narrower card-ecommerce">

                            <!--Card image-->
                            <div class="view view-cascade overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(31).jpg"
                                     class="card-img-top"
                                     alt="">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body card-body-cascade text-center no-padding">
                                <!--Category & Title-->
                                <a href="" class="text-muted">
                                    <h5>Outerwear</h5>
                                </a>
                                <h4 class="card-title">
                                    <strong>
                                        <a href="">Black jacket</a>
                                    </strong>
                                </h4>

                                <!--Description-->
                                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum
                                    necessitatibus
                                    saepe eveniet ut et voluptates.
                                </p>

                                <!--Card footer-->
                                <div class="card-footer">
                                    <span class="float-left">149$</span>
                                    <span class="float-right">
                        <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                          <i class="fas fa-eye"></i>
                        </a>
                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                          <i class="fas fa-heart"></i>
                        </a>
                      </span>
                                </div>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>

                </div>
                <!--Second slide-->

                <!--Third slide-->
                <div class="carousel-item">

                    <div class="col-md-4">

                        <!--Card-->
                        <div class="card card-cascade narrower card-ecommerce">

                            <!--Card image-->
                            <div class="view view-cascade overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(38).jpg"
                                     class="card-img-top"
                                     alt="">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body card-body-cascade text-center no-padding">
                                <!--Category & Title-->
                                <a href="" class="text-muted">
                                    <h5>Accessories</h5>
                                </a>
                                <h4 class="card-title">
                                    <strong>
                                        <a href="">Leather bag</a>
                                    </strong>
                                </h4>

                                <!--Description-->
                                <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                    consectetur,
                                    adipisci velit, sed quia
                                    non.
                                </p>

                                <!--Card footer-->
                                <div class="card-footer">
                                    <span class="float-left">29$</span>
                                    <span class="float-right">
                        <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                          <i class="fas fa-eye"></i>
                        </a>
                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                          <i class="fas fa-heart"></i>
                        </a>
                      </span>
                                </div>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>

                    <div class="col-md-4 clearfix d-none d-sm-block">

                        <!--Card-->
                        <div class="card card-cascade narrower card-ecommerce">

                            <!--Card image-->
                            <div class="view view-cascade overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/belt.jpg"
                                     class="card-img-top"
                                     alt="">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body card-body-cascade text-center no-padding">
                                <!--Category & Title-->
                                <a href="" class="text-muted">
                                    <h5>Accessories</h5>
                                </a>
                                <h4 class="card-title">
                                    <strong>
                                        <a href="">Leather belt</a>
                                    </strong>
                                </h4>

                                <!--Description-->
                                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum
                                    necessitatibus
                                    saepe eveniet ut et voluptates.
                                </p>

                                <!--Card footer-->
                                <div class="card-footer">
                                    <span class="float-left">89$</span>
                                    <span class="float-right">
                        <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                          <i class="fas fa-eye"></i>
                        </a>
                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                          <i class="fas fa-heart"></i>
                        </a>
                      </span>
                                </div>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>

                    <div class="col-md-4 clearfix d-none d-sm-block">

                        <!--Card-->
                        <div class="card card-cascade narrower card-ecommerce">

                            <!--Card image-->
                            <div class="view view-cascade overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(57).jpg"
                                     class="card-img-top"
                                     alt="">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body card-body-cascade text-center no-padding">
                                <!--Category & Title-->
                                <a href="" class="text-muted">
                                    <h5>Shoes</h5>
                                </a>
                                <h4 class="card-title">
                                    <strong>
                                        <a href="">Sneakers</a>
                                    </strong>
                                </h4>

                                <!--Description-->
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam
                                    elit.
                                    Nam
                                    incidunt eius est voluptatibus.
                                </p>

                                <!--Card footer-->
                                <div class="card-footer">
                                    <span class="float-left">129$</span>
                                    <span class="float-right">
                        <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                          <i class="fas fa-eye"></i>
                        </a>
                        <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                          <i class="fas fa-heart"></i>
                        </a>
                      </span>
                                </div>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>

                </div>
                <!--Third slide-->

            </div>
            <!--Slides-->

        </div>
        <!--Carousel Wrapper-->

    </section>
</div>

<div class="banner"><h1>Shop</h1></div>
<div class="section-container">
    <h2>Shop Bags and Accessories</h2>
    <div class="shop-item-container">
        <div class="shop-item">
            <a class="item-cover" href=""><h3>Bags</h3></a>
            <img src="{% static 'images/bags.jpg'%}" alt="">
        </div>
        <div class="shop-item">
            <a class="item-cover" href=""><h3>Shoes</h3></a>
            <img src="{% static 'images/heels.jpg'%}" alt="">
        </div>
        <div class="shop-item">
            <a class="item-cover" href=""><h3>Jewelry</h3></a>
            <img src="{% static 'images/jewelry.jpg'%}" alt="">
        </div>
        <div class="shop-item">
            <a class="item-cover" href=""><h3>SLGs</h3></a>
            <img src="{% static 'images/slgs.jpg'%}" alt="">
        </div>
    </div>

    <h2>Shop by Brand</h2>
    <div class="shop-item-container">
        <div class="shop-item">
            <a class="item-cover" href=""><h3>Gucci</h3></a>
            <img src="{% static 'images/gucci.jpg'%}" alt="">
        </div>
        <div class="shop-item">
            <a class="item-cover" href=""><h3>Prada</h3></a>
            <img src="{% static 'images/prada.jpg'%}" alt="">
        </div>
        <div class="shop-item">
            <a class="item-cover" href=""><h3>Chanel</h3></a>
            <img src="{% static 'images/chanel.jpg'%}" alt="">
        </div>
        <div class="shop-item">
            <a class="item-cover" href=""><h3>Louis Vuitton</h3></a>
            <img src="{% static 'images/lv.jpg'%}" alt="">
        </div>
    </div>


    <div class="banner"><h1>Check us out!</h1></div>
    <div style="height: 10vh;"></div>
    <!--Lightbox-->
    <div>
        <div class="col-md-12">
            <div id="mdb-lightbox-ui"></div>
            <div class="mdb-lightbox">
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg"
                       data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg"
                             class="img-fluid">
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(98).jpg"
                       data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(98).jpg"
                             class="img-fluid"/>
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(131).jpg"
                       data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(131).jpg"
                             class="img-fluid"/>
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(123).jpg"
                       data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg"
                             class="img-fluid"/>
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(118).jpg"
                       data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(118).jpg"
                             class="img-fluid"/>
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(128).jpg"
                       data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(128).jpg"
                             class="img-fluid"/>
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(132).jpg"
                       data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg"
                             class="img-fluid"/>
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(115).jpg"
                       data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(115).jpg"
                             class="img-fluid"/>
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(133).jpg"
                       data-size="1600x1067">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(133).jpg"
                             class="img-fluid"/>
                    </a>
                </figure>
            </div>
        </div>
    </div>
    <p style="text-align: center;">Instagram: @deluxe_consignment</p>
    <!-- <div class="shop-item-container"> -->
</div>
</div>

{% endblock content %}