{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

<!-- <div class="parallax-container">
    <div class="parallax"><img class="parallax-image" src="{% static 'images/open-bag.jpg' %}"></div>
    <div style="margin-bottom: 20vh">
        <h1>Change is Here</h1>
        <a class="custom_btn" href="#">Shop Now</a>
    </div>
</div> -->
<!-- <div class="parallax"><img class="parallax-image" src="{% static 'images/open-bag.jpg' %}"></div> -->


<div class="banner"><h1>Feature</h1></div>
<!-- <div class="feature-container">
    <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/1"></a>
        <a class="carousel-item" href="#two!"><img src="{% static 'images/shoe.jpg' %}"></a>
        <a class="carousel-item" href="#three!"><img src="{% static 'images/open-bag.jpg' %}"></a>
        <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
        <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
      </div>
</div> -->
<div class="banner"><h1>Shop</h1></div>
<div class="shop-list-container">
    <h2>Shop Bags and Accessories</h2>
    <div class="shop-item-container">
        <div class="shop-item">
            <div class="item-cover"><a href="#">shoe</a></div>
            <img src="{% static 'images/shoe.jpg'%}" alt="">
        </div>
        <div class="shop-item">
            <div class="item-cover"><a href="#">shoe</a></div>
            <img src="{% static 'images/shoe.jpg'%}" alt="">
        </div>
        <div class="shop-item">
            <div class="item-cover"><a href="#">shoe</a></div>
            <img src="{% static 'images/shoe.jpg'%}" alt="">
        </div>
        <div class="shop-item">
            <div class="item-cover"><a href="#">shoe</a></div>
            <img src="{% static 'images/shoe.jpg'%}" alt="">
        </div>
    </div>

    <h2>Shop by Brand</h2>
    <div class="shop-item-container">
        <div class="shop-item">
            <div class="item-cover"><a href="#">gucci</a></div>
            <img src="{% static 'images/shoe.jpg'%}" alt="">
        </div>
        <div class="shop-item">
            <div class="item-cover"><a href="#">prada</a></div>
            <img src="{% static 'images/shoe.jpg'%}" alt="">
        </div>
        <div class="shop-item">
            <div class="item-cover"><a href="#">louis vuitton</a></div>
            <img src="{% static 'images/shoe.jpg'%}" alt="">
        </div>
        <div class="shop-item">
            <div class="item-cover"><a href="#">hermes</a></div>
            <img src="{% static 'images/open-bag.jpg'%}" alt="">
        </div>
    </div>

    <div class="banner"><h1>Free Shipping</h1></div>
    <div class="shop-list-container">

    </div>
</div>


{% endblock content %}