{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

<div class="parallax-container">
    <div class="parallax"><img class="parallax-image" src="{% static 'images/open-bag.jpg' %}"></div>
    <div style="margin-bottom: 20vh">
        <h1>Change is Here</h1>
        <a class="custom_btn" href="#">Shop Now</a>
    </div>
</div>


<div class="banner"><h1>Feature</h1></div>
<div class="section">i like big butts and i cannot lie</div>
<div class="banner"><h1>Shop</h1></div>
<div style="background-color: rgb(240, 211, 221); height: 60vh;">You other brothers can't deny</div>
<a class="custom_btn" href="#">Shop Now</a>

{% endblock content %}