{% load static %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">

<!--NavBar-->
<nav>
    <div class="nav-header">
        <a href="">Account</a>
        <a href="">Login</a>
    </div>
    <div class="nav-container">
        <span id="menu-open" href=""><i class="fas fa-bars fa-1x"></i></span>
        <div class="brand"><a href="{% url 'home'%}">Deluxe Consignment Shop</a></div>
        <form id="search" action="">
            <input class="form-control" id="searchBar" name="searchBar" type="search" placeholder="Search">
        </form>
        <div id="cart">
            <!-- <button class="btn btn-rounded red">2</button> -->
            <!-- <a href=""><i class="fas fa-shopping-cart mr-4"></i></a> -->
            <a class="nav-link dark-grey-text font-weight-bold" href="#" data-toggle="modal"
               data-target="#cart-modal-ex">
                <!-- <span class="badge danger-color">4</span> -->
                <!-- <i class="fas fa-shopping-bag white-text" aria-hidden="true"></i> -->
                <!-- <span class="clearfix d-none d-sm-inline-block" style="color:white">Cart</span> -->
                <span class="badge danger-color">{{cart_quantity}}</span>
                <i class="fas fa-shopping-bag white-text" aria-hidden="true"></i>
                <span class="clearfix d-none d-sm-inline-block" style="color:white">Cart</span>
            </a>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li><a>Shop</a> <!--do not like for mobile purposes -->
                <div class="menu-sub">
                    <div class="menu-col">
                        <div class="menu-category"><a href="">Shoe</a></div>
                        <ul>
                            <li><a href="">Small</a></li>
                            <li><a href="">Small</a></li>
                            <li><a href="">Small</a></li>
                        </ul>
                        <div class="menu-category"><a href="">Bag</a></div>
                        <ul>
                            <li><a href="">Small</a></li>
                            <li><a href="">Small</a></li>
                            <li><a href="">Small</a></li>
                        </ul>
                    </div>
                    <div class="menu-col">
                        <div class="menu-category"><a href="">Shoe</a></div>
                        <ul>
                            <li><a href="">Small</a></li>
                            <li><a href="">Small</a></li>
                            <li><a href="">Small</a></li>
                        </ul>
                        <div class="menu-category"><a href="">Bag</a></div>
                        <ul>
                            <li><a href="">Small</a></li>
                            <li><a href="">Medium</a></li>
                            <li><a href="">Big!</a></li>
                        </ul>
                    </div>
                    <div class="menu-col">
                        <img src="{% static 'images/lv.jpg'%}" alt="">
                    </div>
                    <div class="menu-col">
                        <img src="{% static 'images/chanel.jpg'%}" alt="">
                    </div>
                </div>
            </li>

            <li><a href="{% url 'about'%}">About</a>
                <div class="menu-sub">
                    <div class="menu-col">
                        <div class="menu-category"><a href="">Shoe</a></div>
                        <ul>
                            <li><a href="">Small</a></li>
                            <li><a href="">Small</a></li>
                            <li><a href="">Small</a></li>
                        </ul>
                    </div>
                    <div class="menu-col">
                        <div class="menu-category"><a href="">Bag</a></div>
                        <ul>
                            <li><a href="">Small</a></li>
                            <li><a href="">Small</a></li>
                            <li><a href="">Small</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="{% url 'consign'%}">Consign</a></li>
        </ul>
    </div>
</nav>
<!--/.Navbar-->

<div class="nav-back"></div>

<div class="left-nav">
    <div class="side-nav-header">
        <div>
            <span class="ml-3"><a href="">Login</a></span>
            <span class="ml-3"><a href="">Account</a></span>
        </div>
        <span class="mr-3" id="menu-close" href=""><i class="fas fa-times fa-1x"></i></span>
    </div>
    <ul>
        <li><a class="waves-effect" href="#!">Bags</a></li>
        <li><a class="waves-effect" href="#!">Shoes</a></li>
        <li><a class="waves-effect" href="#!">Jews</a></li>
        <li><a class="waves-effect" href="#!">Smores</a></li>
        <li><a class="waves-effect" href="#!">Designer Brands</a></li>
        <li><a class="waves-effect" href="#!">Bag</a></li>
        <li><a class="waves-effect" href="#!">Bag</a></li>
        <li><a class="waves-effect" href="#!">Bag</a></li>
        <li><a class="waves-effect" href="#!">Bag</a></li>
        <li><a class="waves-effect" href="#!">Clarke</a></li>
    </ul>
</div>

<!-- Cart Modal -->
<div class="modal fade cart-modal" id="cart-modal-ex" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!-- Content -->
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold dark-grey-text" id="myModalLabel">Your cart</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Body -->
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Product name</th>
                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{item.product}}</td>
                        <td>${{item.product.price}}</td>
                        <td>
                            <a href="{{item.product.get_remove_from_cart_url}}">
                                <i class="fas black-text fa-times"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'checkout' %}" class="btn btn-primary btn-rounded btn-sm">Checkout</a>
            </div>
            <!-- Footer -->
            <div class="modal-footer">
                <button type="button" class="btn purple-gradient btn-rounded btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- Content -->
    </div>
</div>
<!-- Cart Modal -->


<script src="{% static 'js/nav.js' %}"></script>