{% load static %}
<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Modal cascading tabs-->
            <div class="modal-c-tabs">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i
                                class="fas fa-user mr-1"></i>
                            Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i
                                class="fas fa-user-plus mr-1"></i>
                            Register</a>
                    </li>
                </ul>

                <!-- Tab panels -->
                <div class="tab-content">

                    <!--Panel 7-->
                    <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
                        <form method="POST" action="{% url 'user:login-user' %}">
                            {% csrf_token %}
                            <!--Body-->
                            <div class="modal-body mb-1">
                                <div class="md-form form-sm mb-5">
                                    <i class="fas fa-envelope prefix"></i>
                                    <input type="email" id="modalLRInput8" name="email"
                                           class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalLRInput8">Your
                                        email</label>
                                </div>

                                <div class="md-form form-sm mb-4">
                                    <i class="fas fa-lock prefix"></i>
                                    <input type="password" id="modalLRInput9" name="password"
                                           class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalLRInput9">Your
                                        password</label>
                                </div>
                                <div class="text-center mt-2">
                                    <button type="submit" class="btn btn-info">Log in <i
                                            class="fas fa-sign-in ml-1"></i></button>
                                </div>
                            </div>
                            <!--Footer-->
                            <div class="modal-footer">
                                <div class="options text-center text-md-right mt-1">
                                    <p>Forgot <a href="#" class="blue-text">Password?</a></p>
                                </div>
                                <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                                        data-dismiss="modal">Close
                                </button>
                            </div>
                        </form>
                    </div>
                    <!--/.Panel 7-->

                    <!--Panel 8-->
                    <div class="tab-pane fade" id="panel8" role="tabpanel">
                        <form method="POST" action="{% url 'user:create-user' %}">
                            {% csrf_token %}
                            <!--Body-->
                            <div class="modal-body">
                                <div class="md-form form-sm mb-5">
                                    <i class="fas fa-user prefix"></i>
                                    <input type="text" id="modalLRInput" name="first_name"
                                           class="form-control form-control-sm validate" required>
                                    <label data-error="wrong" data-success="right" for="modalLRInput9">First
                                        Name</label>
                                </div>

                                <div class="md-form form-sm mb-5">
                                    <i class="fas fa-user prefix"></i>
                                    <input type="text" id="modalLRInput10" name="last_name"
                                           class="form-control form-control-sm validate" required>
                                    <label data-error="wrong" data-success="right" for="modalLRInput10">Last
                                        Name</label>
                                </div>

                                <div class="md-form form-sm mb-5">
                                    <i class="fas fa-envelope prefix"></i>
                                    <input type="email" id="modalLRInput12" name="email"
                                           class="form-control form-control-sm validate" required>
                                    <label data-error="wrong" data-success="right" for="modalLRInput12">Your
                                        email</label>
                                </div>

                                <div class="md-form form-sm mb-5">
                                    <i class="fas fa-lock prefix"></i>
                                    <input type="password" id="modalLRInput13" name="password1"
                                           class="form-control form-control-sm validate" required>
                                    <label data-error="wrong" data-success="right" for="modalLRInput13">Your
                                        password</label>
                                </div>

                                <div class="md-form form-sm mb-4">
                                    <i class="fas fa-lock prefix"></i>
                                    <input type="password" id="modalLRInput14" name="password2"
                                           class="form-control form-control-sm validate" required>
                                    <label data-error="wrong" data-success="right" for="modalLRInput14">Repeat
                                        password</label>
                                </div>

                                <div class="text-center form-sm mt-2">
                                    <button type="submit" class="btn btn-info">Sign up <i
                                            class="fas fa-sign-in ml-1"></i></button>
                                </div>

                            </div>
                            <!--Footer-->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                                        data-dismiss="modal">Close
                                </button>
                            </div>
                        </form>
                    </div>
                    <!--/.Panel 8-->
                </div>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Login / Register Form-->


<!--Import Nav CSS-->
<link rel="stylesheet" href="{% static 'css/nav.css' %}">

<!--NavBar-->
<nav>
    <div class="nav-header">
        {% if not request.user.is_authenticated %}
        <a href="" data-toggle="modal" data-target="#modalLRForm">Login or Register</a>
        {% else %}
        <a href="{% url 'user:logout-user' %}">Sign Out</a>
        <a href="">Profile</a>
        {% endif %}
    </div>

    <div class="nav-container">
        <span id="menu-open" href=""><i class="fas fa-bars fa-1x"></i></span>
        <div class="brand"><a href="{% url 'home'%}">Deluxe Consignment Shop</a></div>
        <form id="search" action="">
            <input class="form-control" id="searchBar" name="searchBar" type="search" placeholder="Search">
        </form>
        <div id="cart">
            <!-- <button class="btn btn-rounded red">2</button> -->
            <!-- <a href=""><i class="fas fa-shopping-cart mr-4"></i></a> -->
            <a class="nav-link dark-grey-text font-weight-bold" href="#" data-toggle="modal"
               data-target="#cart-modal-ex">
                <!-- <span class="badge danger-color">4</span> -->
                <!-- <i class="fas fa-shopping-bag white-text" aria-hidden="true"></i> -->
                <!-- <span class="clearfix d-none d-sm-inline-block" style="color:white">Cart</span> -->
                <span class="badge danger-color">{{cart_quantity}}</span>
                <i class="fas fa-shopping-bag white-text" aria-hidden="true"></i>
                <span class="clearfix d-none d-sm-inline-block" style="color:white">Cart</span>
            </a>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li><a href="{% url 'store'%}">Shop</a> <!--do not like for mobile purposes -->
                <div class="menu-sub">
                    <div class="menu-col">
                        <div class="menu-category"><a href="">Brands</a></div>
                        <ul>
                            <li><a href="{% url 'store'%}">Burberry</a></li>
                        </ul>

                    </div>
                    <div class="menu-col">
                        <div class="menu-category"><a href="">Categories</a></div>
                        <ul>
                            <li><a href="">Small</a></li>
                            <li><a href="">Small</a></li>
                            <li><a href="">Small</a></li>
                        </ul>

                    </div>
                    <div class="menu-col">
                        <img src="{% static 'images/lv.jpg'%}" alt="">
                    </div>
                    <div class="menu-col">
                        <img src="{% static 'images/chanel.jpg'%}" alt="">
                    </div>
                </div>
            </li>

            <li><a href="{% url 'about'%}">About</a>
                <div class="menu-sub">
                    <div class="menu-col">
                        <div class="menu-category"><a href="">Shoe</a></div>
                        <ul>
                            <li><a href="">Small</a></li>
                            <li><a href="">Small</a></li>
                            <li><a href="">Small</a></li>
                        </ul>
                    </div>
                    <div class="menu-col">
                        <div class="menu-category"><a href="">Bag</a></div>
                        <ul>
                            <li><a href="">Small</a></li>
                            <li><a href="">Small</a></li>
                            <li><a href="">Small</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="{% url 'consign'%}">Consign</a></li>
        </ul>
    </div>
</nav>
<!--/.Navbar-->

<div class="nav-back"></div>

<div class="left-nav">
    <div class="side-nav-header">
        <div>
            <span class="ml-3"><a href="">Login</a></span>
            <span class="ml-3"><a href="">Account</a></span>
        </div>
        <span class="mr-3" id="menu-close" href=""><i class="fas fa-times fa-1x"></i></span>
    </div>
    <ul>
        <li><a class="waves-effect" href="#!">Bags</a></li>
        <li><a class="waves-effect" href="#!">Shoes</a></li>
        <li><a class="waves-effect" href="#!">Jews</a></li>
        <li><a class="waves-effect" href="#!">Smores</a></li>
        <li><a class="waves-effect" href="#!">Designer Brands</a></li>
        <li><a class="waves-effect" href="#!">Bag</a></li>
        <li><a class="waves-effect" href="#!">Bag</a></li>
        <li><a class="waves-effect" href="#!">Bag</a></li>
        <li><a class="waves-effect" href="#!">Bag</a></li>
        <li><a class="waves-effect" href="#!">Clarke</a></li>
    </ul>
</div>

<!-- Cart Modal -->
<div class="modal fade cart-modal" id="cart-modal-ex" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!-- Content -->
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold dark-grey-text" id="myModalLabel">Your cart</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Body -->
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Product name</th>
                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{item.product}}</td>
                        <td>${{item.product.price}}</td>
                        <td>
                            <a href="{{item.product.get_remove_from_cart_url}}">
                                <i class="fas black-text fa-times"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'checkout' %}" class="btn btn-primary btn-rounded btn-sm">Checkout</a>
            </div>
            <!-- Footer -->
            <div class="modal-footer">
                <button type="button" class="btn purple-gradient btn-rounded btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- Content -->
    </div>
</div>
<!-- Cart Modal -->


<script src="{% static 'js/nav.js' %}"></script>