{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<div class="container">
    <div>

        <p><strong>Payment Policy</strong><br><br>All items are sold on a&nbsp;<strong><em>first-to-pay</em></strong>
            basis. Items must be paid in full prior to being shipped off/picked-up in person. We take payment
            predominantly via our website (through PayPal checkout), directly via PayPal invoicing, through e-transfer,
            or in person via Cash pending a deposit to hold the item until pickup. For any inquiries regarding payment
            options, please feel free to email us at deluxe.consignment@gmail.com, or message us through social media.&nbsp;
        </p>
        <p>We accept all major credit cards, and payments are processed through PayPal on our website. Please note that
            you&nbsp;<strong>DO NOT NEED A PAYPAL ACCOUNT</strong> in order to purchase, simply check out as guest
            instead and follow the payment prompts. When you arrive at the PayPal page, simply select pay with
            credit/visa debit instead (pic below).&nbsp;</p>
        <p><img class="__mce_add_custom__" title="fullsizerender-1dfdfd.jpeg"
                src="https://cdn10.bigcommerce.com/s-xy6yq7/product_images/uploaded_images/fullsizerender-1dfdfd.jpeg"
                alt="fullsizerender-1dfdfd.jpeg" width="211" height="280">&nbsp;</p>
        <p>&nbsp;&nbsp;</p>
        <p>&nbsp;</p>
        <p><strong>Holds &amp; Layaways</strong>&nbsp;</p>
        <p>Items can be placed on hold with a 25% down payment. Similarly, layaway option begins with a 25% down
            payment, with the balance due within a 45-day period. Payment must be completed within 45 days following the
            first deposit. Layaway options are available for items over $500 or combination of items valued over $500.
            Layaway deposits can be made on any item eligible on our website by using the code Layaway45 at checkout.
            For items or combined orders over $1000, we offer an extended 60-day layaway with 30% deposit. Deposits can
            be similarly made on our website by using the code Layaway60 at checkout. We will be in touch for the
            balance of the payments, which can be made on a pay-as-you-go basis.</p>
        <p>&nbsp;</p>
        <p>In addition to website checkouts, all payments can also be made via EMT or Paypal. Please email us to set up
            alternative payment methods.</p>
        <p>&nbsp;</p>
        <p>Deposit in both cases are non-refundable&nbsp;<em>unless</em>&nbsp;the item was significantly not as
            described or misrepresented during the course of the transaction. Cases will be assessed on an individual
            basis. Deposits are voided in all cases when a buyer is unable to complete a layaway and/or when a buyer
            changes his/her mind during the course of the layaway.&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><strong>Late Payments</strong></p>
        <p>Payments are expected on a pre-negotiated schedule. We understand that exceptional circumstances may occur
            whereby you may need to delay a payment. However, all changes in schedules need to be communicated at least
            24 hours prior to the payment due date. Otherwise, a penalty fee (5% of price of item) will be applied to
            the total outstanding balance per week. If the item is not paid off within 45 days, Deluxe Consignment will
            relist the item for sale, and payment will not be refunded.</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><strong>Tax Rates</strong></p>
        <p><span>Our items are shipped from Toronto, Ontario, Canada. Therefore, all international orders shipping outside of Canada are exempt from taxes.</span>
        </p>
        <p><span>Items purchased in and delivered within Canada are charged minimum of 5% GST based on location. PST provinces will not be charged PST. See figure below for details. </span>
        </p>
        <p>&nbsp;</p>
        <p><img class="__mce_add_custom__" title="screen-shot-2016-04-01-at-3.47.00-pm.png"
                src="http://cdn6.bigcommerce.com/s-xy6yq7/product_images/uploaded_images/screen-shot-2016-04-01-at-3.47.00-pm.png?t=1461093548"
                alt="screen-shot-2016-04-01-at-3.47.00-pm.png" width="566" height="466"></p>
        <p><span>&nbsp;</span>&nbsp;</p>
        <p>&nbsp;</p>
        <p><span><strong>Returns Policy</strong></span></p>
        <p><span>Due to the nature of consignment, all sales are&nbsp;<span>FINAL</span>.&nbsp;All of our items are&nbsp;<em>guaranteed authentic</em>. We offer a full money back guarantee if found otherwise.</span>
        </p>
        <p><span>Please note that we do not currently accept returned items for full or partial refunds. If you received an item damaged through shipping, please feel free to contact us and in those exceptional circumstances, we will assess the item on a case-by-case basis.&nbsp;</span>
        </p>
        <p>&nbsp;</p>
        <p><span><br></span><strong>Local Pick-Up vs. Shipping</strong><span><span><br><br></span>We can ship to virtually any address in the world. Note that there are restrictions on some products, and some products cannot be shipped to international destinations. Currently, we have standard shipping within Canada for $15, and standard shipping to the US for $30. For larger items, a higher fee may apply and the price will be shown at final checkout. For combined orders, please enter code '<strong>SHIPME2</strong>' for a discount off shipping on the second item. Local pick up is at Sherway Gardens in Toronto, Ontario, with coupon code '<strong>PICKMEUP</strong>' or via pick up option at checkout. Pick up is available by appointment only. &nbsp;<br></span>
        </p>
        <p>&nbsp;</p>
        <p><span><br><span><strong>Shipping Insurance</strong></span></span></p>
        <p>All items are shipped with a standard $100 shipping insurance coverage. If you would like additional
            coverage, we will be charging you the standard rate by Canada Post, which is $2.50 per additional $100. This
            will be a separate charge from the typical shipping charge, and will require a separate payment/invoice.&nbsp;</p>

    </div>
</div>

{% endblock content %}