{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<!-- Main Container -->
<link rel="stylesheet" type="text/css" href="{% static 'css/store.css' %}">

<div class="container">
    <!-- Navbar -->
    <div class="row pt-4">
        <!-- Sidebar -->
        <div class="col-lg-3">
            <div class="">
                <!-- Grid row -->




                <!-- <div>
                     <form method="GET">
                        {{ productFilter.form }}
                        <button type="submit">Search</button>
                     </form>
                </div> -->












                <div class="row">
                    <div class="col-6 col-lg-12">
                        <!-- Panel -->
                        <h5 class="font-weight-bold dark-grey-text"><strong>Sort By</strong></h5>
                        <div class="divider"></div>
                        <form action="" name="sortForm">
                            <select class="mdb-select md-form" id="sort" name="sort" onchange="this.form.submit()">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="pricelow">Price (Low to High)</option>
                                <option value="pricehigh">Price (High to Low)</option>
                                <option value="a-z">Name (A to Z)</option>
                                <option value="z-a">Name (Z to A)</option>
                            </select>
                        </form>
                    </div>

                    <!-- Brand Filter -->
                    <div class="col-6 col-lg-12 mb-7">
                        <!-- Panel -->
                        <h5 class="font-weight-bold dark-grey-text"><strong>Brand</strong></h5>
                        <div class="divider"></div>
                        <form action="" name="brandForm">
                            <select class="mdb-select md-form" id="brand" name="brand" onchange="this.form.submit()">
                                <option value="" disabled selected>Brand</option>
                                {% for brand in brands %}
                                    <option value="{{brand}}">{{ brand }}</option>
                                {% endfor %}
                                <!-- <option value="3">Option 3</option> -->
                            </select>
                        </form>
                    </div>
                    <!-- Filter by brand -->
                    

                    <!-- Filter by category -->
                    <div class="col-6 col-lg-12 mb-5">
                        <h5 class="font-weight-bold dark-grey-text mb-3 "><strong>Category</strong></h3>
                            <!-- Radio group -->
                        <form action="">
                            <div class="form-group ">
                                <input class="form-check-input submitonchange" name="category" value="shoes"
                                       type="radio" id="radio100">
                                <label for="radio100" class="form-check-label dark-grey-text">Shoes</label>
                            </div>

                            <div class="form-group">
                                <input class="form-check-input submitonchange" name="category" value="bags" 
                                    type="radio" id="radio101">
                                <label for="radio101" class="form-check-label dark-grey-text">Bags</label>
                            </div>

                            <div class="form-group">
                                <input class="form-check-input submitonchange" name="category" value="accessories" 
                                    type="radio" id="radio102">
                                <label for="radio102" class="form-check-label dark-grey-text">Accessories</label>
                            </div>

                            <div class="form-group">
                                <input class="form-check-input submitonchange" name="category" value="slgs" 
                                    type="radio" id="radio103">
                                <label for="radio103" class="form-check-label dark-grey-text">SLGs</label>
                            </div>
                        </form>
                        <!-- Radio group -->
                    </div>

                    <!-- Filter by price -->
                    <div class="col-6 col-lg-12 mb-5">
                        <h5 class="font-weight-bold dark-grey-text"><strong>Max Price</strong></h3>
                            <div class="divider"></div>

                            <div class="row justify-content-center">
                                <div class="col-md-6 text-left">
                                    <p class="dark-grey-text"><strong id="resellerEarnings">$0</strong></p>
                                </div>

                                <div class="col-md-6 text-right">
                                    <p class="dark-grey-text"><strong id="clientPrice">$1500</strong></p>
                                </div>
                            </div>
                            <form class="range-field mt-0">
                                <input id="calculatorSlider" class="no-border" name="pricemax" type="range" min="0" max="1500"/>
                                <button class="btn btn-sm blue white-text" type="submit">Search</button>
                            </form>
                    </div>
                    <!-- Filter by price -->
                </div>
                <!-- Grid row -->

            </div>
        </div>
        <!-- Sidebar -->

        <!-- Content -->
        <div class="col-lg-9 product-grid">
            <!-- Products Grid -->
            <section class="section pt-4">
                <div class="row">
                    {% for product in page_obj %}
                    <div class="col-lg-4 col-6 mb-4">
                        <div class="card card-ecommerce">
                            <!-- Card image -->
                            <div class="view overlay">
                                <img src="{{product.imageURL}}"
                                     class="img-fluid"
                                     alt="Product Image">
                                <a data-toggle="modal" data-target="#modalQuickView{{forloop.counter}}">
                                    <div class="mask rgba-white-light"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div class="card-body">
                                <h6 class="card-title mb-1">
                                    <a class="dark-grey-text" href="{{ product.get_absolute_url }}">
                                        {{product.name|truncatechars:55}}
                                    </a>
                                </h6>

                                {% if product.is_new %}
                                    <span class="badge badge-pill badge-info mb-1 mr-1">NEW</span>
                                {% endif %}
                                {% if product.discount_price != product.price %}
                                    <span class="badge badge-pill badge-success mb-1">SALE</span>
                                {% endif %}
                                <!-- Card footer -->
                                <div class="card-footer pb-0">
                                    {% if product.discount_price != product.price %}
                                        <span>${{product.discount_price}}</span>
                                    {% else %}
                                        <span>${{product.price}}</span>
                                    {% endif%}

                                    <span>
                                        <a href="{{product.get_add_to_cart_url}}"
                                            class="update-cart" data-toggle="tooltip" data-placement="top"
                                            data-product="{{product.id}}" data-action="add" title="Add to Bag">
                                            <i class="fas dark-grey-text fa-shopping-bag"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <!-- Card content -->
                        </div>
                        <!-- Card -->
                    </div>
                    <!-- Grid column -->


                    <!-- Modal: modalQuickView -->
                    <div class="modal fade" id="modalQuickView{{forloop.counter}}" tabindex="-1" role="dialog"
                        aria-labelledby="{{product.name}" aria-hidden="true">
                        
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row">
                                        <!--Carousel Wrapper-->
                                        <div class="col-lg-5">
                                            <div id="carousel-thumb{{forloop.counter}}"
                                                 class="carousel slide carousel-fade carousel-thumbnails h-100"
                                                 data-ride="carousel">
                                                <!--Slides-->
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="carousel-item active">
                                                        <a href="{% url 'shop:product-detail' product.slug %}">
                                                            <img class="d-block w-100"
                                                                 src="{{product.imageURL}}"
                                                                 alt="Product Image">
                                                        </a>
                                                    </div>
                                                    
                                                    {% for image in product.productimage_set.all %}
                                                    <div class="carousel-item">
                                                        <a href="{% url 'shop:product-detail' product.slug %}">
                                                            <img class="d-block w-100"
                                                                 src="{{image.image.url}}"
                                                                 alt="Product Image">
                                                        </a>
                                                    </div>
                                                    {% endfor %}

                                                </div>
                                                <!--/.Slides-->
                                               <!-- here lies the deprecated controls -->

                                                <ol class="carousel-indicators">
                                                    <li data-target="#carousel-thumb{{forloop.counter}}"
                                                        data-slide-to="0" class="active">
                                                        <img src="{{product.imageURL}}"
                                                            width="60">
                                                    </li>
                                                    
                                                    {% for image in product.productimage_set.all %}
                                                    <li data-target="#carousel-thumb{{forloop.parentloop.counter}}"
                                                        data-slide-to="{{ forloop.counter }}">
                                                        <img src="{{image.image.url}}"
                                                            width="60">
                                                    </li>
                                                    {% endfor%} 
                                                </ol>
                                            </div>
                                        </div>
                                        <!--/.Carousel Wrapper-->

                                        <div class="product-info col-lg-7">
                                            <div class="product-body">
                                                <h3 class="h3-responsive mt-xl-0 mt-1"> {{product.name}} </h3>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <h4 class="text-center">
                                                    <span class="">${{product.discount_price}}</span>
                                                    {% if product.discount_price != product.price %}
                                                        <span class="green-text ml-2">
                                                            <small><s>${{product.price}}</s></small>
                                                        </span>
                                                    {% endif%}
                                                    </h4>

                                                    <div class="d-flex align-items-center">
                                                        {% if product.is_new %}
                                                        <span class="badge badge-info">NEW</span>
                                                        {% endif %}
                                                        {% if product.discount_price != product.price %}
                                                        <span class="badge badge-success ml-2">SALE</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div>{{product.description|linebreaks}}</div>
                                            </div>

                                            <!-- Add to Cart -->
                                            <div class="product-footer">
                                                <!-- information -->
                                                <div> Brand: {{ product.get_brand }}</div>
                                                {% if product.is_shoe %}
                                                <div> Size: {{ product.shoe.size }}</div>
                                                {% endif %}
                                                <div> Quantity: {{ product.quantity }}</div>

                                                <div class="d-flex justify-content-between">
                                                    <a href="{{product.get_add_to_cart_url}}"
                                                        class="btn btn-outline-secondary update-cart"
                                                        data-product="{{product.id}}" data-action="add">Add to Bag
                                                        <i class="fas fa-shopping-bag pink-text ml-1" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="{% url 'shop:product-detail' product.slug %}"
                                                        class="btn btn-outline-secondary">Detail View</a>
                                                    <button type="button" 
                                                        class="btn btn-outline-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- /.Add to Cart -->

                                        </div>
                                        <!-- col7 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal: modalQuickView -->
                    {% endfor %}
                </div>
                <!-- Grid row -->
            </section>
            <!-- Products Grid -->

            <div style="height: 10vh;"></div>
            <!-- Ensure spacing for paginate button -->

            <!-- Pagination Section --> 
            {% if page_obj.has_other_pages %}
                <div class="paginate col-lg-12">
                {% if page_obj.has_previous %}
                    <a class="btn btn-sm" href="?page={{page_obj.previous_page_number}}">
                        <i class="fas fa-chevron-left black-text"></i>
                    </a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-outline-grey" href="?page={{num}}">{{num}}</a>
                    {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"+3" %}
                        <a class="btn btn-sm rounded-3" href="?page={{num}}">{{num}}</a>
                    {% endif %}
                {% endfor%}

                {% if page_obj.has_next %}
                    <a class="btn btn-sm" href="?page={{page_obj.next_page_number}}">
                        <i class="fas fa-chevron-right black-text"></i>
                    </a>
                {% endif %}
                </div>
            {% endif %}

        </div>
        <!-- Content -->
    </div>
</div>
<!-- Main Container -->
</main>
<script src="{% static 'js/store.js' %}"></script>

{% endblock content %}