{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<!-- Main Container -->
<link rel="stylesheet" type="text/css" href="{% static 'css/store.css' %}">

<div class="container">
    <!-- Navbar -->
    <div class="row pt-4">
        <!-- Sidebar -->
        <div class="col-lg-3">
            <div class="">
                <!-- Grid row -->
                <div class="row">
                    <div class="col-md-6 col-lg-12">
                        <!-- Panel -->
                        <h3 class="font-weight-bold dark-grey-text"><strong>Sort By</strong></h3>
                        <div class="divider"></div>
                        <form action="" name="sortForm">
                            <select class="mdb-select md-form" id="sort" name="sort" onchange="this.form.submit()">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="pricelow">Price (Low to High)</option>
                                <option value="pricehigh">Price (High to Low)</option>
                                <option value="a-z">Name (A to Z)</option>
                                <option value="z-a">Name (Z to A)</option>
                            </select>
                        </form>
                    </div>

                    <!-- Brand Filter -->
                    <div class="col-md-6 col-lg-12 mb-4">
                        <!-- Panel -->
                        <h5 class="font-weight-bold dark-grey-text"><strong>Brand</strong></h3>
                        <div class="divider"></div>
                        <form action="" name="brandForm">
                            <select class="mdb-select md-form" id="brand" name="brand" onchange="this.form.submit()">
                                <option value="" disabled selected>Brand</option>
                                {% for brand in brands %}
                                    <option value="{{brand}}">{{ brand }}</option>
                                {% endfor %}
                                <!-- <option value="3">Option 3</option> -->
                            </select>
                        </form>
                    </div>
                    <!-- Filter by brand -->
                    

                    <!-- Filter by category -->
                    <div class="col-md-6 col-lg-12 mb-5">
                        <h5 class="font-weight-bold dark-grey-text mb-3 "><strong>Category</strong></h3>
                            <!-- Radio group -->
                        <form action="">
                            <div class="form-group ">
                                <input class="form-check-input submitonchange" name="category" value="shoes"
                                       type="radio" id="radio100">
                                <label for="radio100" class="form-check-label dark-grey-text">Shoes</label>
                            </div>

                            <div class="form-group">
                                <input class="form-check-input submitonchange" name="category" value="bags" 
                                    type="radio" id="radio101">
                                <label for="radio101" class="form-check-label dark-grey-text">Bags</label>
                            </div>

                            <div class="form-group">
                                <input class="form-check-input submitonchange" name="category" value="accessories" 
                                    type="radio" id="radio102">
                                <label for="radio102" class="form-check-label dark-grey-text">Accessories</label>
                            </div>

                            <div class="form-group">
                                <input class="form-check-input submitonchange" name="category" value="slgs" 
                                    type="radio" id="radio103">
                                <label for="radio103" class="form-check-label dark-grey-text">SLGs</label>
                            </div>
                        </form>
                        <!-- Radio group -->
                    </div>
                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row">
                    <!-- Filter by price -->
                    <div class="col-md-6 col-lg-12 mb-5">
                        <h5 class="font-weight-bold dark-grey-text"><strong>Max Price</strong></h3>
                            <div class="divider"></div>

                            <div class="row justify-content-center">
                                <div class="col-md-6 text-left">
                                    <p class="dark-grey-text"><strong id="resellerEarnings">$0</strong></p>
                                </div>

                                <div class="col-md-6 text-right">
                                    <p class="dark-grey-text"><strong id="clientPrice">$1500</strong></p>
                                </div>
                            </div>
                            <form class="range-field mt-0">
                                <input id="calculatorSlider" class="no-border" name="pricemax" type="range" min="0" max="1500"/>
                                <button class="btn btn-sm blue white-text" type="submit">Search</button>
                            </form>
                    </div>
                    <!-- Filter by price -->
                </div>
                <!-- Grid row -->
            </div>
        </div>
        <!-- Sidebar -->

        <!-- Content -->
        <div class="col-lg-9 product-grid">
            <!-- Products Grid -->
            <section class="section pt-4">
                <!-- Grid row -->
                <div class="row">
                    {% for product in page_obj %}
                    {% if product %}
                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card card-ecommerce">
                            <!-- Card image -->
                            <div class="view overlay">
                                <img src="{{product.imageURL}}"
                                     class="img-fluid"
                                     alt="Product Image">
                                <a data-toggle="modal" data-target="#modalQuickView{{forloop.counter}}">
                                    <div class="mask rgba-white-light"></div>
                                </a>
                            </div>
                            <!-- Card image -->

                            <!-- Card content -->
                            <div class="card-body">
                                <!-- Category & Title -->
                                <h6 class="card-title mb-1"><strong><a href="{{ product.get_absolute_url }}"
                                                                       class="dark-grey-text">{{product.name}}</a></strong>
                                </h6>
                                {% if product.is_new %}
                                <span class="badge badge-pill badge-info mb-1 mr-1 ml-1">NEW</span>
                                {% endif %}
                                {% if product.discount_price != product.price %}
                                <span class="badge badge-pill badge-success mb-1">SALE</span>
                                {% endif %}
                                <!-- Card footer -->
                                <div class="card-footer pb-0">
                                
                                        <!-- above had a row class -->

                                        {% if product.discount_price != product.price %}
                                        <span class="sfloat-left pr-0">${{product.discount_price}}</span>
                                        {% else %}
                                        <span class="sfloat-left mr-0">${{product.price}}</span>
                                        {% endif%}

                                        <span class="sfloat-right">
                                            <a href="{{product.get_add_to_cart_url}}"
                                               class="update-cart" data-toggle="tooltip" data-placement="top"
                                               data-product="{{product.id}}" data-action="add" title="Add to Bag">
                                                <i class="fas grey-text fa-shopping-bag ml-3"></i>
                                            </a>
                                        </span>
                                    
                                </div>
                            </div>
                            <!-- Card content -->
                        </div>
                        <!-- Card -->
                    </div>
                    <!-- Grid column -->

                    <!-- Modal: modalQuickView -->
                    <div class="modal fade" id="modalQuickView{{forloop.counter}}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <!--Carousel Wrapper-->
                                            <div id="carousel-thumb{{forloop.counter}}"
                                                 class="carousel slide carousel-fade carousel-thumbnails"
                                                 data-ride="carousel">
                                                <!--Slides-->
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="carousel-item active">
                                                        <a href="{% url 'shop:product-detail' product.slug %}">
                                                            <img class="d-block w-100"
                                                                 src="{{product.imageURL}}"
                                                                 alt="First slide">
                                                        </a>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <a href="{% url 'shop:product-detail' product.slug %}">
                                                            <img class="d-block w-100"
                                                                 src="{{product.imageURL}}"
                                                                 alt="Second slide">
                                                        </a>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <a href="{% url 'shop:product-detail' product.slug %}">
                                                            <img class="d-block w-100"
                                                                 src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(25).jpg"
                                                                 alt="Third slide">
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--/.Slides-->
                                                <!--Controls-->
                                                <a class="carousel-control-prev"
                                                   href="#carousel-thumb{{forloop.counter}}" role="button"
                                                   data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next"
                                                   href="#carousel-thumb{{forloop.counter}}" role="button"
                                                   data-slide="next">
                                                    <span class="carousel-control-next-icon black-text" aria-hidden="true"></span>
                                                    <span class="sr-only black-text black">Next</span>
                                                </a>
                                                <!--/.Controls-->
                                                <ol class="carousel-indicators">
                                                    <li data-target="#carousel-thumb{{forloop.counter}}"
                                                        data-slide-to="0" class="active">
                                                        <img src="{{product.imageURL}}"
                                                             width="60" height="60">
                                                    </li>
                                                    <li data-target="#carousel-thumb{{forloop.counter}}"
                                                        data-slide-to="1">
                                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(24).jpg"
                                                             width="60" height="60">
                                                    </li>
                                                    <li data-target="#carousel-thumb{{forloop.counter}}"
                                                        data-slide-to="2">
                                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(25).jpg"
                                                             width="60">
                                                    </li>
                                                </ol>
                                            </div>
                                            <!--/.Carousel Wrapper-->
                                        </div>
                                        <div class="col-lg-7">
                                            <h2 class="h2-responsive product-name">
                                                <strong>{{product}}</strong>
                                            </h2>
                                            {% if product.is_new %}
                                            <span class="badge badge-info mb-2 mr-2">NEW</span>
                                            {% endif %}
                                            {% if product.discount_price != product.price %}
                                            <span class="badge badge-success mb-4">SALE</span>
                                            <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">
                                                <span class="green-text font-weight-bold">
                                                    <strong>${{product.discount_price}}</strong>
                                                </span>
                                                <span class="grey-text">
                                                    <small>
                                                        <s>${{product.price}}</s>
                                                    </small>
                                                </span>
                                            </h3>
                                            {% else %}
                                            <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4 mt-4">
                                                <span class="green-text font-weight-bold">
                                                    <strong>${{product.price}}</strong>
                                                </span>
                                            </h3>
                                            {% endif %}

                                            <p class="ml-xl-0 ml-4">{{product.description|linebreaks}}
                                            </p>

                                            <p class="ml-xl-0 ml-4">

                                                <strong>Brand: </strong>{{product.get_brand}}</p>

                                            {% if product.is_shoe %}
                                            <p class="ml-xl-0 ml-4">

                                                <strong>Size: </strong>{{product.shoe.size}}</p>
                                            {% endif %}

                                            <p class="ml-xl-0 ml-4">

                                                <strong>Quantity Available: </strong>{{product.quantity}}</p>

                                            <!-- Add to Cart -->
                                            <div class="card-body">
                                                <div class="text-center">
                                                    <a href="{{product.get_add_to_cart_url}}"
                                                       class="btn btn-secondary update-cart"
                                                       data-product="{{product.id}}" data-action="add">Add to Bag
                                                        <i class="fas fa-shopping-bag ml-2" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="{% url 'shop:product-detail' product.slug %}"
                                                       class="btn btn-light">Detail View</a>
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- /.Add to Cart -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal: modalQuickView -->
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- Grid row -->
            </section>
            <!-- Products Grid -->

            <div style="height: 10vh;"></div>
            <!-- Ensure spacing for paginate button -->

            <!-- Pagination Section --> 
            {% if page_obj.has_other_pages %}
                <div class="paginate col-lg-12">
                {% if page_obj.has_previous %}
                    <a class="btn btn-sm" href="?page={{page_obj.previous_page_number}}">
                        <i class="fas fa-chevron-left black-text"></i>
                    </a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-outline-grey" href="?page={{num}}">{{num}}</a>
                    {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"+3" %}
                        <a class="btn btn-sm rounded-3" href="?page={{num}}">{{num}}</a>
                    {% endif %}
                {% endfor%}

                {% if page_obj.has_next %}
                    <a class="btn btn-sm" href="?page={{page_obj.next_page_number}}">
                        <i class="fas fa-chevron-right black-text"></i>
                    </a>
                {% endif %}
                </div>
            {% endif %}

        </div>
        <!-- Content -->
    </div>
</div>
<!-- Main Container -->
</main>
<script src="{% static 'js/store.js' %}"></script>

{% endblock content %}